node_modules/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
build/
dist/
.next/
.vuepress/dist/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/
*.log
public/invoices/
